APP_URL =  http://localhost:3333
Node_env = develop

APP_SECRET = YOUR HASH MD5 HERE

# Database

DB_HOST = localhost
DB_USER = postgres
DB_PASS = docker
DB_NAME = gobarber

# Mongo

MONGO_URL = 

# Redis

REDIS_HOST = 127.0.0.1
REDIS_PORT = 6379

# Mail

MAIL_HOST = smtp.mailtrap.io
MAIL_PORT = 2525
MAIL_USER = 
MAIL_PASS = 

# Sentry

SENTRY_DSN = 